.resume
  %h1.text-center Sune Sylvest Nilausen

  %h2 Kort Beskrivelse
  %hr
  .row
    .col-xs-10
      Jeg er en 26 årig Softwareudvikler med 1,5 års fuldtidsarbejdserfaring og en kandidat i Datalogi. Elsker at udvikle hjemmesider, apps, spil med moderne software og metoder. Altid klar på nye udfordrende og spændende på projekter for at udvikle brugbare kompetencer. Min natur er at være kreativ, rolig, social og venlig.
    .col-xs-2
      = image_tag('DSEmesse.png', class: 'sideportrait')

  %h2 Personlig Information
  %hr
  .row
    .col-xs-6
      .row
        .col-xs-3.text-right Fødselsdato:
        .col-xs-9 17 April 1991
      .row
        .col-xs-3.text-right Fødselssted:
        .col-xs-9 Danmark, Vestjylland
      .row
        .col-xs-3.text-right Adresse:
        .col-xs-9 Valby Maskinfabriksvej 19 st. th. Valby 2500
      .row
        .col-xs-3.text-right Telefon:
        .col-xs-9 +45 61 31 21 19
    .col-xs-6
      .row
        .col-xs-3.text-right Email:
        .col-xs-9
          %a{href: 'mailto:sunenilausen@gmail.com'} sunenilausen@gmail.com
      .row
        .col-xs-3.text-right Web:
        .col-xs-9
          %a{href: 'http://sunenilausen.com'} sunenilausen.com
      .row
        .col-xs-3.text-right LinkedIn:
        .col-xs-9
          %a{href: 'http://linkedin.com/in/sunenilausen'} linkedin.com/in/sunenilausen
      .row
        .col-xs-3.text-right Github:
        .col-xs-9
          %a{href: 'https://github.com/sunenilausen'} github.com/sunenilausen
  %h2 Erfaring
  %hr
  .row
    .col-xs-2.text-right September 2016 -
    .col-xs-10 Web og Softwareudvikler hos Traels.it, Odense
    .col-xs-2.text-right Nuværende
    .col-xs-10
      Som udvikler har jeg startet og udviklet flere Ruby on Rails applikationer og API integrationer til Web og Mobil. Derunder design, implementering og test af front-end, back-end og database. Anvendte teknologier var blandt andet HTML, CSS, JavaScript, Git, SQL, MongoDB, Docker, Linux og React-Native.
  %br
  .row
    .col-xs-2.text-right December 2015 -
    .col-xs-10 Frivillig Hjælper hos Coding Pirates
    .col-xs-2.text-right Nuværende
    .col-xs-10
      Som frivillig hjælper underviser jeg børn i alderen 7-15 og organiserer workshops i Unity3D, C#, Block programmering, spil- og webudvikling samt andre IT kompetencer.
  %br
  .row
    .col-xs-2.text-right Januar 2016 -
    .col-xs-10 Valgfagslærer i Appudvikling på Svenstrup Skole
    .col-xs-2.text-right Maj 2016
    .col-xs-10
      Igennem Game2Grow underviste jeg en klasse i Appudvikling på Svenstrup Skole med 7-8-9. klasses elever. Her kom vi ind på Papermockups, HTML, CSS og JavaScript.
  %br
  .row
    .col-xs-2.text-right Efteråret 2014
    .col-xs-10 Programmør på produktionshold 3 DADIU
    .col-xs-offset-2.col-xs-10
      Udviklede 2 Android spil i Unity3D: Scouts og Hot Shot Showoff. Som programmør i et produktionshold på 18 personer fik jeg kompetencer i Scrum, Git, UML, og C#.

  %h2 Uddannelse
  %hr
  .row
    .col-xs-2.text-right Juni 2016
    .col-xs-10 Kandidat i Datalogi. Aalborg Universitet, Aalborg
    .col-xs-offset-2.col-xs-10
      Early Classification of Traffic Maneuvers using a Non-Myopic Approach: I specialet, maskinintelligens, udvidede vi en non-myopic metode og implementerede LSTM neural networks (i Scala) til klassificering af trafik manøvre.
    .col-xs-offset-2.col-xs-10 Karaktergennemsnit: 9,5
  %br
  .row
    .col-xs-2.text-right September 2014
    .col-xs-10 Bachelor i Datalogi. Aalborg Universitet, Aalborg
    .col-xs-offset-2.col-xs-10 
      I mit favorit projekt skabte vi en intelligent skak AI (i C#), hvor vi brugte MI teknikker som minimax, utility, αβ-pruning, og distribuerede beregningen over flere PC’er med APHID algoritmen.
  %br
  .row
    .col-xs-2.text-right Juni 2010
    .col-xs-10 Højere teknisk eksamen (htx) med Dansk, Engelsk, Kommunikation/IT, Matematik og Elteknik på A. UCH, Holstebro

  %h2 Færdigheder
  %hr
  .row
    .col-xs-2.text-right Stærkest i:
    .col-xs-10 Ruby, Rails, JavaScript, SQL, HTML, CSS/SASS, Linux, Git
  .row
    .col-xs-2.text-right Andre:
    .col-xs-10 Docker, Scala, C#, JQuery, NodeJS, ReactJS, MongoDB, MVC, Machine Learning, Scrum, Bash
  .row
    .col-xs-2.text-right Redskaber:
    .col-xs-10 Photoshop, Unity3D, UMLet, SublimeText, Visual Studio, IntelliJ IDEA, PivotalTracker, Postman, Slack.

  %h2 Sprog
  %hr
  .row
    .col-xs-3.text-right Dansk
    .col-xs-9 Flydende, Modersmål
  .row
    .col-xs-3.text-right Engelsk
    .col-xs-9 Flydende
  .row
    .col-xs-3.text-right Svensk, Norsk
    .col-xs-9 Let øvet
  .row
    .col-xs-3.text-right Tysk
    .col-xs-9 Grundliggende kendskab

  .text-right= Date.today