.resume
  %h1.text-center Sune Sylvest Nilausen

  %h2 Summary
  %hr
  .row
    .col-xs-10
      I am a 26 year old Software developer with 1.5 years fulltime work experience and a MSc. graduate in Computer Science. Spending time building web, app and game development with modern software and practices is my passion. Always ready for new and exciting projects to learn or hone useful skills. My nature is to be creative, calm, social and friendly.
    .col-xs-2
      = image_tag('DSEmesse.png', class: 'sideportrait')

  %h2 Personal Information
  %hr
  .row
    .col-xs-6
      .row
        .col-xs-3.text-right Birthday:
        .col-xs-9 17 April 1991
      .row
        .col-xs-3.text-right Birthplace:
        .col-xs-9 Denmark, Western Jutland
      .row
        .col-xs-3.text-right Address:
        .col-xs-9 Valby Maskinfabriksvej 19 st. th. Valby 2500
      .row
        .col-xs-3.text-right Telephone:
        .col-xs-9 +45 61 31 21 19
    .col-xs-6
      .row
        .col-xs-3.text-right Email:
        .col-xs-9
          %a{href: 'mailto:sunenilausen@gmail.com'} sunenilausen@gmail.com
      .row
        .col-xs-3.text-right Web:
        .col-xs-9
          %a{href: 'http://sunenilausen.com'} sunenilausen.com
      .row
        .col-xs-3.text-right LinkedIn:
        .col-xs-9
          %a{href: 'http://linkedin.com/in/sunenilausen'} linkedin.com/in/sunenilausen
      .row
        .col-xs-3.text-right Github:
        .col-xs-9
          %a{href: 'https://github.com/sunenilausen'} github.com/sunenilausen

  %h2 Education
  %hr
  .row
    .col-xs-2.text-right June 2016
    .col-xs-10 Master of Science in Computer Science. Aalborg University, Aalborg
    .col-xs-offset-2.col-xs-10
      Early Classification of Traffic Maneuvers using a Non-Myopic Approach. In the master thesis, machine intelligence, we expanded a non-myopic method and implemented LSTM neural networks (in Scala) for classification of traffic maneuvers.
    .col-xs-offset-2.col-xs-10 Grade average: 9.5
  %br
  .row
    .col-xs-2.text-right September 2014
    .col-xs-10 Bachelor in Computer Science. Aalborg University, Aalborg
    .col-xs-offset-2.col-xs-10 
      In my favorite semester project we created a Chess AI (in C#), using MI techniques like minimax, utility, αβ-pruning, and distributed the calculation across several PC’s using the APHID algorithm
  %br
  .row
    .col-xs-2.text-right June 2010
    .col-xs-10 Higher technical exam (htx) in English, Communication/IT and Math. UCH, Holstebro

  %h2 Experience
  %hr
  .row
    .col-xs-2.text-right September 2016 -
    .col-xs-10 Web and Software developer at Traels.it, Odense
    .col-xs-2.text-right Currently
    .col-xs-10
      As a developer i have started and developed several Ruby on Rails applications and API integrations for Web and Mobile. Among the technologies used there was also HTML, CSS, Javascript, Git, SQL, MongoDB, Docker, Linux and React-Native.
  %br
  .row
    .col-xs-2.text-right December 2015 -
    .col-xs-10 Volunteer Helper at Coding Pirates
    .col-xs-2.text-right Currently
    .col-xs-10
      As a volunteer i teach children in ages 7-15 and organise workshops in Unity3D, C#, Block Programming, game/web development and other IT-competences.
  %br
  .row
    .col-xs-2.text-right January 2016 -
    .col-xs-10 Teacher in App development at Svenstrup Skole
    .col-xs-2.text-right June 2016
    .col-xs-10
      Through Game2Grow i taught an optional class in App development at Svenstrup skole with 7th, 8th and 9th grade students.
  %br
  .row
    .col-xs-2.text-right Autumn 2014
    .col-xs-10 Programmer at production team 3 DADIU
    .col-xs-offset-2.col-xs-10
      Developed 2 Android games in Unity3D: Scouts and Hot Shot Showoff. As a programmer in a production team of 18 people i acquired competences in Scrum, Git, UML, and C#.

  %h2 Skills
  %hr
  .row
    .col-xs-2.text-right High Proficiency
    .col-xs-10 Ruby, Rails, JavaScript, SQL, HTML, CSS/SASS, Linux, Git
  .row
    .col-xs-2.text-right Others
    .col-xs-10 Docker, Scala, C#, JQuery, NodeJS, ReactJS, MongoDB, MVC, Machine Learning
  .row
    .col-xs-2.text-right Tools
    .col-xs-10 Photoshop, Unity3D, UMLet, SublimeText, Visual Studio, IntelliJ IDEA, PivotalTracker, Scrum, Postman

  %h2 Languages
  %hr
  .row
    .col-xs-3.text-right Danish
    .col-xs-9 Fluent, Native
  .row
    .col-xs-3.text-right English
    .col-xs-9 Fluent
  .row
    .col-xs-3.text-right Swedish, Norwegian
    .col-xs-9 Intermediate
  .row
    .col-xs-3.text-right German
    .col-xs-9 Basic Knowledge

  .text-right= Date.today