.container
  .row
    .col.s12.m12.l6
      .card
        .card-image
          = image_tag 'carcasonne.jpg'
          %span.card-title
            Brætspil
        .card-content
          Kan godt lide brætspil

    .col.s12.m12.l6
      .card
        .card-image
          = image_tag 'piano.jpg'
          %span.card-title
            Piano
        .card-content
          Jeg spiller klaver

    .col.s12.m12.l6
      .card
        .card-image
          = image_tag 'painting.jpg'
          %span.card-title
            Painting
        .card-content
          Jeg maler stuff
          
    .col.s12.m12
      .card
        .card-content
          %span.card-title
            About under construction
          %p I am a web developer bla bla bla