.container
  .hero
    %h1.white-text.small-caps.center About
    %p.white-text i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.
    %p.white-text i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.

-# .card.horizontal
-#   .card-image
-#     = image_tag('couch.jpg')
-#   .card-stacked
-#     .card-content
-#       %p I am a very simple card. I am good at containing small bits of information.



-# 

-# .hero-container
-#   .col-s12
-#     .card.horizontal
-#       .card-image
-#         %img{:src => "https://lorempixel.com/250/190/nature/6"}/
-#       .card-stacked
-#         .card-content
-#           %p I am a very simple card. I am good at containing small bits of information.
-#         .card-action
-#           %a{:href => "#"} This is a link
