.container
  .hero
    .d-flex.justify-content-start
      .hero-title
        %h1.white-text.small-caps.center About
        .hero-underline
    %p.white-text 
      i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.
      i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.
      i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.
      i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.

      i like doing lots of stuff and writing dummy text for my about page, you can see my stuff here.
