.container
  .hero
    .d-flex.justify-content-start
      .hero-title
        %h1.white-text.small-caps.center About
        .hero-underline
    %p.white-text 
      I am a Web developer who loves making sites, apps, games and more. I have a MSc. in Computer Science, with my master thesis being in machine intelligence. I am especially interested in development and design of modern software. I grew up on the country near Grønbjerg, a little westjutlandic village. As a person I am always ready for new and exciting projects as it is a great way to expand your competences. My nature is to be creative, friendly, calm and social.

  .about-item
    = render partial: 'about_item', locals: {icon: 'keyboarddoc', content: 'Normally I develop on my laptop with Archlinux, where i prefer Ruby on Rails and JavaScript frameworks. However for Unity3D, photoshop, Java, .NET I usually switch to Windows. I use Sublime 3, with a bunch of plugins and I love it. On wednesdays i normally teach programming to children/youth at Coding Pirates'}
  .about-item.about-icon-right
    = render partial: 'about_item', locals: {icon: 'acoustic-guitar', content: 'One of my hobbies is Music. I have an acoustic guitar, an electric guitar and a big old fashioned piano. I enjoy playing music and hope that I soon can write music of my own.'}
  .about-item
    = render partial: 'about_item', locals: {icon: 'painting-palette', content: 'Painting is also a big hobby of mine. I mostly paint oil but also sometimes acrylic. At the moment I am very much a beginner but I think I have made some nice pieces by following the guidance of the great TV Show "The Joy of Painting" with Bob Ross.'}
  .about-item.about-icon-right
    = render partial: 'about_item', locals: {icon: 'cocktail', content: 'I also like meeting new people and trying out new things. A night with board games, cocktails or trying out some new food is usually a fun way to spend your time.'}
