.container
  .row
    .col.s12.m12.l6
      .card
        .card-image
          .about-image{style: "background-image: url(#{image_url('carcasonne.jpg')})"}
          -# = image_tag 'carcasonne.jpg'
          %span.card-title
            Brætspil
        .card-content
          Kan godt lide brætspil

    .col.s12.m12.l6
      .card
        .card-image
          .about-image{style: "background-image: url(#{image_url('piano.jpg')})"}
          %span.card-title
            Piano
        .card-content
          Jeg spiller klaver

    .col.s12.m12.l6
      .card
        .card-image
          .about-image{style: "background-image: url(#{image_url('painting.jpg')})"}
          %span.card-title
            Painting
        .card-content
          Jeg maler stuff

    .col.s12.m4
      %img.materialboxed{src: image_url('piano.jpg'), width: '320'}

    .col.s12.m8.white-text
      %h2 Piano
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id maximus leo. Nullam suscipit odio quis blandit viverra. Donec eu laoreet magna, et hendrerit urna. Sed magna nisl, maximus tempor maximus sit amet, lacinia in urna. Sed diam sem, tempus egestas nisl volutpat, finibus finibus nunc. Donec pretium, lorem sed aliquet dapibus, orci neque mattis magna, vel convallis ante enim ut sapien. Phasellus ex nulla, malesuada eu mollis pretium, posuere et lectus. Phasellus auctor, turpis a blandit mattis, purus massa lacinia quam, ut dapibus nisl justo eu enim. Sed vitae consectetur nisi. Mauris ac facilisis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam sit amet aliquet dolor, vel elementum mauris. Vivamus pellentesque felis id sodales convallis. Nulla ut vestibulum tortor.


  .row
    .col.s12.m8.white-text
      %h2.right-align Painting
      %p.right-align Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id maximus leo. Nullam suscipit odio quis blandit viverra. Donec eu laoreet magna, et hendrerit urna. Sed magna nisl, maximus tempor maximus sit amet, lacinia in urna. Sed diam sem, tempus egestas nisl volutpat, finibus finibus nunc. Donec pretium, lorem sed aliquet dapibus, orci neque mattis magna, vel convallis ante enim ut sapien. Phasellus ex nulla, malesuada eu mollis pretium, posuere et lectus. Phasellus auctor, turpis a blandit mattis, purus massa lacinia quam, ut dapibus nisl justo eu enim. Sed vitae consectetur nisi. Mauris ac facilisis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam sit amet aliquet dolor, vel elementum mauris. Vivamus pellentesque felis id sodales convallis. Nulla ut vestibulum tortor.
  
    .col.s12.m4
      %img.materialboxed{src: image_url('piano.jpg'), width: '320'}


    .col.s12.m4
      .card
        .card-image
          %img.materialboxed{src: image_url('piano.jpg'), width: '320'}

    .col.s12.m8
      .card
        .card-content
          %span.card-title
            Piano
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id maximus leo. Nullam suscipit odio quis blandit viverra. Donec eu laoreet magna, et hendrerit urna. Sed magna nisl, maximus tempor maximus sit amet, lacinia in urna. Sed diam sem, tempus egestas nisl volutpat, finibus finibus nunc. Donec pretium, lorem sed aliquet dapibus, orci neque mattis magna, vel convallis ante enim ut sapien. Phasellus ex nulla, malesuada eu mollis pretium, posuere et lectus. Phasellus auctor, turpis a blandit mattis, purus massa lacinia quam, ut dapibus nisl justo eu enim. Sed vitae consectetur nisi. Mauris ac facilisis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam sit amet aliquet dolor, vel elementum mauris. Vivamus pellentesque felis id sodales convallis. Nulla ut vestibulum tortor.