%footer.page-footer.orange.darken-3
  .container
    .d-flex.justify-content-between
      %strong.grey-text.text-lighten-4 Feel free to contact me on Linkedin or by mail: sunenilausen@gmail.com
      #connect
        %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-3"}
          %i.fa.fa-github
        %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-2"}
          %i.fa.fa-instagram
        %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-1"}
          %i.fa.fa-linkedin
      #connect-small.fixed-action-btn
        .btn-floating.btn-large.orange
          %i.fa.fa-expand
        %ul
          %li
            %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-3"}
              %i.fa.fa-github
          %li
            %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-2"}
              %i.fa.fa-instagram
          %li
            %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light orange darken-1"}
              %i.fa.fa-linkedin


          



  .footer-copyright
    .container
      Made by Sune Nilausen with
      %a.orange-text.text-lighten-3{:href => "http://materializecss.com"} Materialize
      and
      %a.orange-text.text-lighten-3{:href => "http://rubyonrails.org/"} Ruby on Rails