%section#timeline
  %h1 A Flexbox Timeline
  %p.leader All cards must be the same height and width for space calculations on large screens.
  .demo-card-wrapper
    .demo-card.demo-card--step1
      .head
        .number-box
          %span 01
        %h2
          %span.small Subtitle
          Technology
      .body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        %img{:alt => "Graphic", :src => "http://placehold.it/1000x500"}/
    .demo-card.demo-card--step2
      .head
        .number-box
          %span 02
        %h2
          %span.small Subtitle
          Confidence
      .body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        %img{:alt => "Graphic", :src => "http://placehold.it/1000x500"}/
    .demo-card.demo-card--step3
      .head
        .number-box
          %span 03
        %h2
          %span.small Subtitle
          Adaptation
      .body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        %img{:alt => "Graphic", :src => "http://placehold.it/1000x500"}/
    .demo-card.demo-card--step4
      .head
        .number-box
          %span 04
        %h2
          %span.small Subtitle
          Consistency
      .body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        %img{:alt => "Graphic", :src => "http://placehold.it/1000x500"}/
    .demo-card.demo-card--step5
      .head
        .number-box
          %span 05
        %h2
          %span.small Subtitle
          Conversion
      .body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        %img{:alt => "Graphic", :src => "http://placehold.it/1000x500"}/