.jumbotron.page-card.timeline-page
  .page-header
    %h1 Experience
  .d-flex.justify-content-center
    .vertical-timeline
  = render partial: 'timeline_card', locals: {header_text: "TECHNOLOGY", body_text: "Lorem ipsum dolor sit amet", direction: 'right'}

