%section#timeline
  .col-sm-5
    = render partial: 'timeline_card', locals: {header_text: "TECHNOLOGY", body_text: "Lorem ipsum dolor sit amet", arrow: 'arrow-right'}
  .col-sm-2
    
  .col-sm-5
  
  