= render 'line_drawing'

#subtitle
  #duration
    .el
      MSc. CS.
  #duration
    .er
      Software and Web Developer

#other_places
  %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light blue"}
    -# %i.material-icons github
    %i.fa.fa-github
    -# - # hover to color

/ Element Showed
%a#menu.waves-effect.waves-light.btn.btn-floating
  %i.material-icons menu
/ Tap Target Structure
.tap-target{"data-activates" => "menu"}
  .tap-target-content
    %h5 Title
    %p A bunch of text
