
= render 'line_drawing'

#subtitle
  #duration
    .el
      MSc. CS.
  #duration
    .er
      Software and Web Developer

#other_places.d-flex.justify-content-around
  %a{href: t('pages.links.github'), class: "btn-floating btn-large waves-effect waves-light bg-primary"}
    %i.fa.fa-github
    -# - # hover to color
  %a{href: t('pages.links.instagram'), class: "btn-floating btn-large waves-effect waves-light bg-secondary"}
    %i.fa.fa-instagram
    -# - # hover to color
  %a{href: t('pages.links.linkedin'), class: "btn-floating btn-large waves-effect waves-light bg-tertiary"}
    %i.fa.fa-linkedin
    -# - # hover to color
  %a{href: t('pages.links.mail'), class: "btn-floating btn-large waves-effect waves-light blue darken-2"}
    -# %i.material-icons github
    %i.fa.fa-envelope-o
    -# - # hover to color