= render 'line_drawing'

#subtitle
  #duration
    .el
      MSc. CS.
  #duration
    .er
      Software and Web Developer

#other_places.d-flex.justify-content-around
  %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light bg-primary"}
    -# %i.material-icons github
    %i.fa.fa-github
    -# - # hover to color
  %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light bg-secondary"}
    -# %i.material-icons github
    %i.fa.fa-instagram
    -# - # hover to color
  %a{href: "http://www.github.com/sunenilausen", class: "btn-floating btn-large waves-effect waves-light bg-tertiary"}
    -# %i.material-icons github
    %i.fa.fa-linkedin
    -# - # hover to color