-# %img{src: image_url("copenhagen.jpg"), class: "img-fluid bg-image"}

#welcome
  = render 'welcome'
#about
  = render 'about'
#cv
  = render 'cv'
#timeline
  = render 'timeline'

  -# = render 'line_drawing'

  -# #subtitle
  -#   #duration
  -#     .el
  -#       MSc. CS.
  -#   #duration
  -#     .er
  -#       Software and Web Developer

  -# #other_places
  -#   %a{href: "http://www.github.com/sunenilausen", class: "btn btn-primary btn-fab"}
  -#     %i.material-icons grade
      -# %i.fa.fa-github
    - # hover to color
