-# %img{src: image_url("copenhagen.jpg"), class: "img-fluid bg-image"}
#welcome
  = render 'line_drawing'

  #subtitle
    #duration
      .el
        MSc. CS.
    #duration
      .er
        Software and Web Developer

= render 'about'

#cv
  .container
    .jumbotron.page-card
      %h2 CV under construction
      Here is my cv n stuff

    = render 'timeline'
