#welcome
  #line-drawing.svg-container
    %svg{:viewbox => "-10 -10 1000 500"}
      %g.lines{:fill => "none", "fill-rule" => "evenodd", :stroke => "#FFA51C", "stroke-width" => "13"}
        %path.cls-1{:d => "M166.5,31.5c-29.52-20.1-66.3-16.1-85,5C62.44,58,65.05,94,81.5,112.5c26.54,29.8,75.65-1.21,107,29,21.73,20.94,26.07,62.76,9,85-20.72,27-77.85,31.47-126-8", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M350.5,142.5a320.53,320.53,0,0,0,20,74q3.37,8.32,7,16", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M436.5,221.5c11.8-26.75-.15-57.24-24-68-20.36-9.19-46.13-2.52-61,17", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M245.3,151.9c-20.6,30.1-10.71,66.24,12.08,78.23,22.43,11.79,53.81-1.67,66.47-20.28,16.81-24.71,2.12-60.68,3-60.85.57-.11,4.47,15,18.13,76.78", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M478.5,183.5c31.43,11.7,57.43,4.44,63-9,4-9.63-2.25-23.06-11-30-15.44-12.26-40.32-5.57-52,8-16.38,19-10.13,55.39,14,69,17.49,9.86,41.48,6.13,58-10", :transform => "translate(-67.67 -17.87)"}

      %g.lines{:fill => "none", "fill-rule" => "evenodd", :stroke => "#2993FF", "stroke-width" => "13"}
        %path.cls-1{:d => "M202.5,421.5c21.47,16.52,53.54,36.87,75,26,46.94-23.77,16.06-183.14,13-183-1.93.09,17,62.76,9,144-.88,8.92-2.59,23.11,6,32,15.59,16.14,57.59,7,79-11,33-27.79,35.22-92,5-160", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M447.5,361.5q-7.4,70.62,8,76,8.51,3,24-14", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M453.92,347.11c4.3-3.08,5.84-8.87,4-12.72-3.07-6.53-15.83-7.6-19.94-1.6-2.6,3.8-1.9,10.69,2.87,14.28A11.1,11.1,0,0,0,453.92,347.11Z", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M505.5,277.5q.71,50.24,4,104c1.65,26.23-2.23,51.47,4,53,4.57,1.13,11.55-10.94,17-22", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M603.5,382.5c-12.18-9.59-28.68-10.17-40-2-14.51,10.48-17.73,33.34-6,46,12.6,13.59,35.9,8.34,46-2,13.64-14,7.93-42,8-42s-4.61,46.29,8,51c4.16,1.56,9.19-1.8,12-4", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M653.5,381.5c-13.64,20.78-7.09,45.73,8,54,14.85,8.14,35.62-1.15,44-14,11.13-17.05,1.4-41.88,2-42,.38-.08,3,10.34,12,53", :transform => "translate(-67.67 -17.87)"}
        
      %g.lines{:fill => "none", "fill-rule" => "evenodd", :stroke => "#FF0084", "stroke-width" => "13"}
        %path.cls-1{:d => "M781.5,376.5c-13.47-5.79-27-.84-31,8-3.25,7.19-.4,17.42,6,22,10.95,7.84,26.1-5.25,34,2,5.51,5.06,4.56,17.34-1,24-7.48,9-25.24,10.08-39-2", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M819.74,405.61c21.94,8.16,40.09,3.1,44-6.28,2.78-6.72-1.57-16.09-7.68-20.94-10.78-8.56-28.14-3.89-36.3,5.58-11.43,13.28-7.07,38.66,9.77,48.16,12.21,6.88,29,4.28,40.48-7", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M885,367a218.82,218.82,0,0,0,15.25,53q2.57,6,5.34,11.47", :transform => "translate(-67.67 -17.87)"}
        %path.cls-1{:d => "M950.59,423.62a36.17,36.17,0,0,0-18.3-48.73c-15.53-6.59-35.18-1.81-46.52,12.18", :transform => "translate(-67.67 -17.87)"}

  #duration
    .el
      MSc. CS.
  #duration
    .er
      Software and Web Developer

= render 'about'

#cv
  .container
    .jumbotron.page-card
      %h2 CV under construction
      = render partial: 'timeline'
