.skills.d-flex.flex-direction-column
  .skill-square.css-skill.stretchTowardsRight
    CSS
  .skill-square.ruby-skill.stretchTowardsRight
    Ruby
  .skill-square.javascript-skill.stretchTowardsRight
    JavaScript
  .skill-square.sql-skill.stretchTowardsRight
    SQL
  .skill-square.rails-skill.stretchTowardsRight
    Rails

  .textandsquare
    .text-square
      AnimeJS
    .skill-square.animejs-skill

