.d-flex.justify-content-center
  .skills.d-flex.flex-direction-column
    .textandsquare
      .text-square
        CSS
      .css-skill
        
    .textandsquare
      .text-square
        Ruby
      .ruby-skill
      
    .textandsquare
      .text-square
        JavaScript
    .javascript-skill
      
    .textandsquare
      .text-square
        SQL
    .sql-skill

    .textandsquare
      .text-square
        Rails
      .rails-skill

    .textandsquare
      .text-square
        C#
      .csharp-skill

    .textandsquare
      .text-square
        Scala
      .scala-skill

    .textandsquare
      .text-square.brain-surgery
        Brain Surgery
      .brain-surgery-skill