.card > .card-content > .skill-title {
  font-size: 1.8em;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

.language-subtitle {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.language-title {
  margin-top: 1em;
  font-size: 2em;
}

.cv-download {
  margin-bottom: 3rem;
}