.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-around {
  justify-content: space-around; //Doesnt work?!
}

.justify-content-between {
  justify-content: space-between;  //Does it work?!
}

.width100 {
  width: 100%;
}