@import "_colors";

.nav-wrapper {
  background-image: image-url('bg_1080_flipped.jpg');
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

nav {
  box-shadow: none;
}

// .navbar-inner, .navbar .btn-navbar {
//   border: 0px;
// }

// .menu-color {
//   background-color: #8E5DDA;
// }

ul > li > a {
  text-align: center;
  padding-left: 3.5vh;
  padding-right: 3.5vh;
  font-size: 1.5em;
}

@media screen and (min-width: 994px) {
  .brand-logo {
    margin-left: 5vh;
  }
}

.brand-logo {
  text-align: center;
  font-size: 1.9em;
}

@media screen and (min-width: 768px) {
  .navbar-brand {
    width: 20vh;
  }

  .nav-items {
    display: flex;
    justify-content: center;
  }

  .move-nav-left {
    margin-left: -16vh;
  }
}


.navbar.navbar-inverse {
  background-color: white;
  color: $primary;
  font-size: 1.3em;
  // opacity: 0;
}
