@import "_colors";

.navbar .navbar-nav > li > a {
  text-align: center;
  padding-left: 2vh;
  padding-right: 2vh;
}

@media screen and (min-width: 1200px) {
  .navbar .navbar-nav > li > a {
    padding-left: 5vh;
    padding-right: 5vh;
  }
}

.navbar-brand {
  width: 20vh;
  text-align: center;
  font-size: 1.3em;
}

.navbar.navbar-inverse {
  background-color: white;
  color: $primary;
  font-size: 1.3em;
  // opacity: 0;
}

.dropdown-menu {
  // background-color: transparent;
}

.dropdown-menu > li > a  {
  color: $primary;
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: flex;
    justify-content: center;
  }

  .move-nav-left {
    margin-left: -16vh;
  }
}