@import "_colors";

.navbar .navbar-nav > li > a {
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
}

.navbar-brand {
  width: 20vh;
  text-align: center;
  font-size: 1.3em;
}

.navbar.navbar-inverse {
  background-color: white;
  color: $primary;
  font-size: 1.3em;
  opacity: 0;
}

.dropdown-menu {
  background-color: transparent;
}

.dropdown-menu > li > a  {
  color: white;
}