// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  
  // background-color: #003988;
}

#frontpage {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

#lineDrawing {
  margin-top: 20vh;
  width: 80%;
  // display: flex; 
  // align-items: center; 
  // justify-content: center;
}

.er {
  margin-left: 80vh;
  font-size: 1.2em;
}

.el {
  margin-left: 29vh;
  margin-top: 10vh;
  font-size: 1.2em;
}