@import "_colors";


@mixin sub-page {
  color: black;
  min-height: 100vh;
}

body {
  background-color: #FFFFFF;
}

.svg-container { 
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: auto;
  vertical-align: middle; 
  overflow: hidden; 
}

#welcome {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
}

#line-drawing {
  margin-top: 15vh;
  margin-left: 5vh;
  // width: 110vh;
}

.er {
  margin-left: 80vh;
  font-size: 1.2em;
  opacity: 0;
  white-space: nowrap;
  color: $primary;
}

.el {
  margin-left: 29vh;
  margin-top: 10vh;
  font-size: 1.2em;
  opacity: 0;
  white-space: nowrap;
  color: $secondary;
}

#about {
  @include sub-page;
  background-color: $primary;
}

#cv {
  @include sub-page;
  background-color: $secondary;
}

.dickbutt {
  margin-left: 20vh;
}

.page-card {
  margin-top: 10vh;
}

.timeline-card-header_1 {
  background-color: $primary;
  width: 100%;
  color: white;
  padding: 1em;
  font-size: 1.5em;
  height: 3.2em;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid $primary;
  float: right;
  margin-right: -1.6em;
  margin-top: -0.25em;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-right: 0.8em solid $primary;
  float: left;
  margin-left: -1.6em;
  margin-top: -0.25em;
}
