@import "_colors";

@mixin sub-page {
  color: black;
  min-height: 100vh;
}

.parallax-container {
  height: 200px;
}

.bg-image {
  position: absolute;
}

.svg-container { 
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 1300px;
  min-width: 800px; 
  height: auto;
  vertical-align: middle; 
  overflow: hidden; 
}

#other_places {
  margin-top: 2vh;
  width: 300px;
}

#welcome {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  // background-image: image_url('bg_1080_flipped');
  // background-size: cover;
}

#line-drawing {
  margin-top: 20vh;
}

#subtitle {
  margin-top: -20%;
}

.er {
  font-size: 1.5em;
  opacity: 0;
  white-space: nowrap;
  color: white;
  margin-left: 20vh;
}

.el {
  font-size: 1.5em;
  opacity: 0;
  white-space: nowrap;
  color: white;
  margin-left: 0vh;
}

#about {
  padding-top: 10rem;
  padding-bottom: 5rem;
  // @include sub-page;
  background-color: #F6A100;
}

#cv {
  // @include sub-page;
  // background-color: $secondary;
}

.page-card {
  margin-top: 10vh;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.page-header {
  display: flex;
  justify-content: center;
}

.page-content {
  position: relative;
}

.about-image {
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
}