@mixin skill-square {
  height: 4em;
  padding: 1em 1em 1em 1em;
  transform-origin: left;
  color: white;
}

.css-skill {
  @include skill-square;
  width: 4em;
  background-color: red;
}

.ruby-skill {
  @include skill-square;
  width: 5em;
  background-color: blue;
}

.rails-skill {
  @include skill-square;
  width: 6em;
  background-color: #00B3B3;
}

.javascript-skill {
  @include skill-square;
  width: 4em;
  background-color: orange;
}

.sql-skill {
  @include skill-square;
  width: 3em;
  background-color: #A600A6;
}

.csharp-skill {
  @include skill-square;
  width: 2em;
  background-color: #00B400;
}

.scala-skill {
  @include skill-square;
  width: 2em;
  background-color: #E0F000;
}

.brain-surgery-skill {
  @include skill-square;
  width: 10em;
  background-color: #FF40DD;
}

.stretchTowardsRight {
  animation-name: stretchTowardsRight;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: left;
}

.skills {
  margin-top: 5vh;
  height: 100%;
  width: 100vh;
}

.text-square {
  z-index: 1;
  padding: 1em 1em 1em 1em;
  position: absolute;
}

.brain-surgery {
  margin-left: -9em;
}

@keyframes stretchTowardsRight {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}