@import "_colors";

@mixin arrow {
  width: 0; 
  height: 0; 
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  position: absolute;
  margin-top: 1.5em;
}

@mixin arrow-right {
  @include arrow;
  border-left: 0.8em solid;
  margin-left: 100%;
}

@mixin arrow-left {
  @include arrow;
  border-right: 0.8em solid;
  margin-left: -0.8em;
}

.timeline-card-header {
  width: 100%;
  color: white;
  padding-left: 1em;
  font-size: 1.5em;
  height: 3.2em;
  line-height: 1em;
  display: flex;
}

.timeline-card-header > p {
  padding: 1.25em 0.5em 1em 0.25em;
}

.timeline-card {
  z-index: 2;
}

.timetrack {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .timetrack {display: none;}

  .timeline-card-wrapper {
    margin-bottom: 5vh;
  }
}

@media screen and (min-width: 768px) {
  .timetrack {
    margin-top: 1.5em;
    z-index: 1;
    width: 20%;
    height: 25px;
    color: #C5C5C5;
    background-color: white;
    font-weight: bold;
    margin-left: -6vh;
    margin-right: -6vh;
  }

  .timeline-card {
    width: 40%;
    margin-left: 3vh;
    margin-right: 3vh;
  }

  .arrow-left-bg-primary {
    @include arrow-left;
    border-right-color: $primary;
  }

  .arrow-left-bg-secondary {
    @include arrow-left;
    border-right-color: $secondary;
  }

  .arrow-left-bg-tertiary {
    @include arrow-left;
    border-right-color: $tertiary;
  }

  .arrow-right-bg-primary {
    @include arrow-right;
    border-left-color: $primary;
  }

  .arrow-right-bg-secondary {
    @include arrow-right;
    border-left-color: $secondary;
  }

  .arrow-right-bg-tertiary {
    @include arrow-right;
    border-left-color: $tertiary;
  }
}

.timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

.timeline-card-header > h2 {
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}

.vertical-timeline {
  overflow: hidden;
  position: absolute;
  right: 50%;
  border-left: solid #D3D3D3;
  width: 1px;
  top: 0;
  bottom: 0;
}

.timeline-card-wrapper {
  display: flex;
  justify-content: around;
}