@import "_colors";

@media screen and (max-width: 768px) {
  .timetrack {display: none;}
}

@media screen and (min-width: 768px) {
  .timetrack {
    margin-top: 1.5em;
    z-index: 1;
    width: 20%;
    height: 25px;
    left: 3em;
    color: #C5C5C5;
    background-color: white;
    font-weight: bold;
  }

  .timeline-card {
    width: 40%;
  }

  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid $primary;
    margin-left: 100%;
    margin-top: 1.5em;
    position: absolute;
  }

  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-right: 0.8em solid $primary;
    float: left;
    margin-left: -1.6em;
    margin-top: -0.25em;
  }
}

.timeline-card-header {
  width: 100%;
  color: white;
  padding: 1em;
  font-size: 1.5em;
  height: 3.2em;
}

.timeline-card {
  width: 100%;
  z-index: 2;
}

.timeline-page {
  height: 85vh;
  width: 100%;
}

.timeline-card-header > h2 {
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}

.vertical-timeline {
  position: absolute;
  border-left: solid #D3D3D3;
  width: 1px;
  height: 80vh;
}