.svg-container { 
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 1300px;
  min-width: 900px; 
  height: auto;
  vertical-align: middle; 
  overflow: hidden; 
}

#other_places {
  margin-top: 2rem;
  width: 300px;
}


#subtitle {
  font-size: 1.5em;
  white-space: nowrap;
  color: white;
}

@media screen and (max-width: 500px) {
  .svg-container {
    min-width: 600px; 
  }

  #subtitle {
    position: relative;
    padding-top: 8rem;
    font-size: 1.2em;
  }
}

#welcome {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
}

.er {
  opacity: 0;
  margin-left: 20vh;
}

.el {
  opacity: 0;
  margin-left: 0vh;
}