!!!
%html{:lang => "en-us"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Hot Shot Showoff
    //<link rel="shortcut icon" href="TemplateData/favicon.ico">
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "hotshotshowoff/UnityLoader.js"}
    :javascript
      var gameInstance = UnityLoader.instantiate("gameContainer", "hotshotshowoff/Build.json", {onProgress: UnityProgress});
  %body
    .webgl-content
      #gameContainer{:style => "width: 1280px; height: 720px"}
      .footer
        .webgl-logo
        .fullscreen{:onclick => "gameInstance.SetFullscreen(1)"}
        .title Hot Shot Showoff